mat-dialog-content {
  font-size: 16px;
  color: #003366; /* Azul oscuro */
}

h2[mat-dialog-title] {
  font-weight: bold;
  color: #001F4D; /* Azul oscuro profundo */
  margin-bottom: 10px;
}

mat-dialog-actions {
  margin-top: 20px;
}

button[mat-button] {
  color: #003366;
  font-weight: bold;
}

button[mat-button]:hover {
  background-color: rgba(135, 206, 235, 0.2); /* Celeste translúcido */
}

button[mat-raised-button] {
  background-color: #335A8E; /* Azul medio */
  color: white;
}

button[mat-raised-button]:hover {
  background-color: #003366; /* Azul oscuro */
}

::ng-deep .mat-dialog-container {
  border-radius: 8px;
  border: 2px solid #6BAED6; /* Celeste */
}
