<div class="notification-sections-wrapper">
  <section class="notification-create-section">
    <!-- Formulario de creación -->
    <form [formGroup]="notificationForm" (ngSubmit)="submit()">
      <label for="title">{{ 'notifications.form.title' | translate }}:</label>
      <input id="title" formControlName="title" placeholder="Title" />

      <label for="content">{{ 'notifications.form.message' | translate }}:</label>
      <textarea id="content" formControlName="content" placeholder="Content"></textarea>

      <button type="submit" [disabled]="!notificationForm.valid">Create Notification</button>
    </form>
  </section>
</div>
