<div class="notification-sections-wrapper">
  <section class="notification-create-section">
    <!-- Formulario de creación -->
    <form [formGroup]="notificationForm" (ngSubmit)="submit()">
      <label>{{ 'notifications.form.title' | translate }}:
        <input formControlName="title" />
      </label>
      <label>{{ 'notifications.form.message' | translate }}:
        <textarea formControlName="message"></textarea>
      </label>
      <button type="submit" [disabled]="!notificationForm.valid">{{ 'notifications.form.create' | translate }}</button>
    </form>
  </section>
</div>
